@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background-color: #ECF0F1;
}
img{
  width: 7vw;
}
#head{
  display: flex;               /* Define o contêiner como um flex container */
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

#user_name{
  font-size: 6vw;
  margin-top: 10px;
}

#mns_box{
  display: flex;
  background-color:white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

#label{
  font-size: 5vw;
}
#mns, #mat{
  font-size: 4vw;
}
#details{
  font-size: 3vw;
}

#icon{
  margin-right: 2vw;
  fill: #126ae2;
}

#list{
  padding-inline: 5px;
}

#category{
  display: flex;               /* Define o contêiner como um flex container */
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

#info{
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  margin-top: 10px;
}

.svg_logo{
  width: 150px;
}
.path_logo{
  fill: #126ae2;
}

