@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --cor-click: #126ae2; /* Click */
  --cor-sombra: #0a599b; /* Azul Escuro */
  --cor-text: black; /* Preto */
  --cor-back1: #edf2f4; /* Azul claro */
  --cor-back2: #6a937a; /* Verde Escuro */
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 0px;
  background-color: var(--cor-back1);
}
img{
  width: 7vw;
}
#head{
  display: flex;               /* Define o contêiner como um flex container */
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
}

#user_name{
  font-size: 6vw;
  margin-top: 10px;
}

#mns_box{
  display: flex;
  background-color:white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

#mns_box{
  display: flex;
  background-color:white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

#label{
  font-size: 5vw;
}
#mns, #mat{
  font-size: 4vw;
}
#details{
  font-size: 3vw;
}

#icon{
  margin-right: 2vw;
  fill: #126ae2;
  display: flex;
}

#spacer{
  padding-right: 10wh;
  padding-left: 10wh;
  margin-right: 10wh;
  margin-right: 10wh;

}

#list{
  padding-inline: 5px;
}

#category{
  display: flex;               /* Define o contêiner como um flex container */
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

#info{
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  margin-top: 10px;
}


.svg_logo{
  width: 150px;
}
.path_logo{
  fill: #126ae2;
}
#menu_aba {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
}

#menu_bot {
  position: relative;
  padding: 20px;
  display: block; /* corrigido */
  cursor: pointer;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 54pt;
  color: var(--cor-click);
}

/* Estilo do Popup */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Escondido por padrão */
  z-index: 1; /* Garante que o popup fique sobre outros conteúdos */
}

/* Conteúdo do Popup */
.popup-conteudo {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Botão de fechar */
.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
